:root {
  --primary: #00abde;
  --secondary: #f25076;
  --button: #ffeb00;
  --text: #666;
  --text-dark: #333;
  --bg: transparent;
  --bg-light: #eee;
  --bg-dark: #fafafa;
  --divider: #ccc;
  --twitter: #55acee;
  --facebook: #3b5998;
}
