extends layouts/layout
block body
  div.container
    include sections/hero
    include sections/information
    include sections/sample
    include sections/credit
    include sections/backlist
    include sections/footer
  include sections/loading
  div#particles.bg
