.button {
  @apply --image-block;

  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 1.4rem;
  font-family: var(--bold-font-famliy);
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }
}
