.footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-dark);

  .footer__circle-logo {
    width: 200px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .footer__twitter-button {
    margin: 30px auto 0;
    background-color: var(--twitter);

    a {
      color: var(--bg-dark);
    }
  }
}
