doctype html
html(lang='ja' prefix='og:http://ogp.me/ns#')
  head
    meta(charset='utf8')
    meta(name='keywords' content='第玖くらげ艦隊,コミックマーケット91,C91,東T-08b,同人誌,イラスト,艦隊これくしょん,艦これ,海月みこと,海月つかさ,くらげりうむ。')
    meta(name='description' content='艦これオールフルカラーイラスト集です。第六駆逐隊中心の描き下ろしイラストを掲載。')
    meta(property='og:title' content='【C91新刊】第玖くらげ艦隊 / 1日目 東T-08b「くらげりうむ。」')
    meta(property='og:description' content='艦これオールフルカラーイラスト集です。第六駆逐隊中心の描き下ろしイラストを掲載。')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://kuragerium.github.io/c91/')
    meta(property='og:image' content='https://kuragerium.github.io/c91/img/ogp.png')
    meta(property='og:site_name' content='くらげりうむ。')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:site' content='@mktx')
    meta(property='twitter:title' content='【C91新刊】第玖くらげ艦隊 / 1日目 東T-08b「くらげりうむ。」')
    meta(property='twitter:description' content='艦これオールフルカラーイラスト集です。第六駆逐隊中心の描き下ろしイラストを掲載。')
    meta(property='twitter:image' content='https://kuragerium.github.io/c91/img/ogp.png')
    title 第玖くらげ艦隊 / コミックマーケット91 1日目 東T-08b「くらげりうむ。」
    script(src='//webfont.fontplus.jp/accessor/script/fontplus.js?0lZ5mZy2MdQ%3D&aa=1&ab=1&ab=1')
  body(data-loading="loading")
    block body
