footer.footer
  div.footer__circle-logo
    img(src='img/circle_logo.png')
  div.footer__twitter-button.button
    a(
      href='http://twitter.com/share?text=第玖くらげ艦隊 / コミックマーケット91 1日目 東T-08b「くらげりうむ。」&url=https://kuragerium.github.io/c91/&hashtags=C91'
      onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
      rel='nofollow'
    )
      div Twitter
