include ../components/headline
section.information
  div.information__wrapper.wrapper
    +headline('INFORMATION')
    div.information__distribution
      div.distribution__image
        a(
          href='img/book.png'
          data-lightbox='book'
        )
          img(src='img/book.png' alt='第玖くらげ艦隊')
      div.distribution__description
        div.description__headline
          div.headline__content.headline__content--logo
            img(src="img/book.svg")
          div.headline__content.headline__content--text
            span BOOK
        div.description__content.description__content--title
          ul
            li タイトル
            li 第玖くらげ艦隊
        div.description__content.description__content--design
          ul
            li 仕様
            li
              div
                | B5版
                br
                | 24p
                br
                | フルカラー
        div.description__content.description__content--amount
          ul
            li 頒布価格
            li 500円
    div.information__distribution
      div.distribution__image
        a(
          href='img/goods.jpg'
          data-lightbox='goods'
        )
          img(src='img/goods.jpg' alt='第六駆逐隊 響 アクリルキーホルダー')
      div.distribution__description
        div.description__headline
          div.headline__content.headline__content--logo
            img(src="img/goods.svg")
          div.headline__content.headline__content--text
            span GOODS
        div.description__content.description__content--title
          ul
            li タイトル
            li
              div
                | 第六駆逐隊 響
                br
                | アクリルキーホルダー
        div.description__content.description__content--design
          ul
            li 仕様
            li
              div
                | 70mm x 70mm
                br
                | ナスカン（シルバー）
        div.description__content.description__content--amount
          ul
            li 頒布価格
            li 500円
